body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-168px;
  width:541px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:376px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1613 {
  position:absolute;
  left:168px;
  top:80px;
  width:541px;
  height:376px;
}
#u1614 {
  position:absolute;
  left:2px;
  top:180px;
  width:537px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1615 {
  position:absolute;
  left:314px;
  top:182px;
  width:250px;
  height:40px;
}
#u1615_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u1616 {
  position:absolute;
  left:314px;
  top:237px;
  width:250px;
  height:40px;
}
#u1616_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u1617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PTSerif-Caption', 'PT Serif Caption';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:center;
}
#u1617 {
  position:absolute;
  left:319px;
  top:121px;
  width:253px;
  height:34px;
  font-family:'PTSerif-Caption', 'PT Serif Caption';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:center;
}
#u1618 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u1619 {
  position:absolute;
  left:314px;
  top:347px;
  width:105px;
  height:16px;
}
#u1620 {
  position:absolute;
  left:16px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u1619_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u1621 {
  position:absolute;
  left:189px;
  top:91px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u1622 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1623 {
  position:absolute;
  left:314px;
  top:294px;
  width:144px;
  height:40px;
}
#u1623_input {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u1624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STBaoliSC-Regular', 'Baoli SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1624 {
  position:absolute;
  left:468px;
  top:294px;
  width:96px;
  height:40px;
  font-family:'STBaoliSC-Regular', 'Baoli SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1625 {
  position:absolute;
  left:2px;
  top:9px;
  width:92px;
  word-wrap:break-word;
}
#u1626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:38px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1626 {
  position:absolute;
  left:314px;
  top:389px;
  width:250px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1627 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
