body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-3px;
  width:1276px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:763px;
  height:60px;
}
#u7197 {
  position:absolute;
  left:80px;
  top:428px;
  width:763px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7198 {
  position:absolute;
  left:2px;
  top:22px;
  width:759px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:60px;
}
#u7199 {
  position:absolute;
  left:80px;
  top:184px;
  width:511px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7200 {
  position:absolute;
  left:2px;
  top:22px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:60px;
}
#u7201 {
  position:absolute;
  left:80px;
  top:102px;
  width:536px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7202 {
  position:absolute;
  left:2px;
  top:22px;
  width:532px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:624px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7203 {
  position:absolute;
  left:1076px;
  top:282px;
  width:203px;
  height:624px;
}
#u7204 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u7205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7205 {
  position:absolute;
  left:173px;
  top:84px;
  width:96px;
  height:18px;
}
#u7206 {
  position:absolute;
  left:2px;
  top:1px;
  width:92px;
  word-wrap:break-word;
}
#u7207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7207 {
  position:absolute;
  left:505px;
  top:51px;
  width:95px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7208 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u7209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7209 {
  position:absolute;
  left:281px;
  top:107px;
  width:20px;
  height:51px;
}
#u7210 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u7211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7211 {
  position:absolute;
  left:282px;
  top:188px;
  width:21px;
  height:54px;
}
#u7212 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  word-wrap:break-word;
}
#u7213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7213 {
  position:absolute;
  left:83px;
  top:129px;
  width:70px;
  height:29px;
}
#u7214 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u7215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7215 {
  position:absolute;
  left:514px;
  top:80px;
  width:77px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7216 {
  position:absolute;
  left:2px;
  top:3px;
  width:73px;
  word-wrap:break-word;
}
#u7217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7217 {
  position:absolute;
  left:514px;
  top:162px;
  width:77px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7218 {
  position:absolute;
  left:2px;
  top:3px;
  width:73px;
  word-wrap:break-word;
}
#u7219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7219 {
  position:absolute;
  left:423px;
  top:244px;
  width:77px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7220 {
  position:absolute;
  left:2px;
  top:3px;
  width:73px;
  word-wrap:break-word;
}
#u7221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7221 {
  position:absolute;
  left:245px;
  top:11px;
  width:95px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7222 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u7223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7223 {
  position:absolute;
  left:3px;
  top:12px;
  width:232px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7224 {
  position:absolute;
  left:2px;
  top:6px;
  width:228px;
  word-wrap:break-word;
}
#u7225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7225 {
  position:absolute;
  left:431px;
  top:12px;
  width:95px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7226 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u7227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7227 {
  position:absolute;
  left:807px;
  top:12px;
  width:95px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7228 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u7229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7229 {
  position:absolute;
  left:173px;
  top:107px;
  width:20px;
  height:51px;
}
#u7230 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u7231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7231 {
  position:absolute;
  left:173px;
  top:188px;
  width:21px;
  height:54px;
}
#u7232 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  word-wrap:break-word;
}
#u7233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:60px;
}
#u7233 {
  position:absolute;
  left:80px;
  top:266px;
  width:420px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7234 {
  position:absolute;
  left:2px;
  top:22px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7235 {
  position:absolute;
  left:282px;
  top:270px;
  width:21px;
  height:54px;
}
#u7236 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  word-wrap:break-word;
}
#u7237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7237 {
  position:absolute;
  left:173px;
  top:270px;
  width:21px;
  height:54px;
}
#u7238 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  word-wrap:break-word;
}
#u7239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7239 {
  position:absolute;
  left:352px;
  top:326px;
  width:95px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7240 {
  position:absolute;
  left:2px;
  top:3px;
  width:91px;
  word-wrap:break-word;
}
#u7241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:60px;
}
#u7241 {
  position:absolute;
  left:80px;
  top:346px;
  width:367px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7242 {
  position:absolute;
  left:2px;
  top:22px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7243 {
  position:absolute;
  left:282px;
  top:351px;
  width:21px;
  height:54px;
}
#u7244 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  word-wrap:break-word;
}
#u7245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7245 {
  position:absolute;
  left:173px;
  top:351px;
  width:21px;
  height:54px;
}
#u7246 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  word-wrap:break-word;
}
#u7247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7247 {
  position:absolute;
  left:282px;
  top:432px;
  width:21px;
  height:54px;
}
#u7248 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  word-wrap:break-word;
}
#u7249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7249 {
  position:absolute;
  left:514px;
  top:406px;
  width:77px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7250 {
  position:absolute;
  left:2px;
  top:3px;
  width:73px;
  word-wrap:break-word;
}
#u7251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7251 {
  position:absolute;
  left:172px;
  top:432px;
  width:21px;
  height:54px;
}
#u7252 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  word-wrap:break-word;
}
#u7253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:60px;
}
#u7253 {
  position:absolute;
  left:80px;
  top:510px;
  width:839px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7254 {
  position:absolute;
  left:2px;
  top:22px;
  width:835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7255 {
  position:absolute;
  left:282px;
  top:514px;
  width:21px;
  height:54px;
}
#u7256 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  word-wrap:break-word;
}
#u7257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7257 {
  position:absolute;
  left:760px;
  top:488px;
  width:77px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7258 {
  position:absolute;
  left:2px;
  top:3px;
  width:73px;
  word-wrap:break-word;
}
#u7259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7259 {
  position:absolute;
  left:174px;
  top:514px;
  width:21px;
  height:54px;
}
#u7260 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  word-wrap:break-word;
}
#u7261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7261 {
  position:absolute;
  left:83px;
  top:213px;
  width:70px;
  height:29px;
}
#u7262 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u7263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7263 {
  position:absolute;
  left:83px;
  top:297px;
  width:70px;
  height:29px;
}
#u7264 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u7265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7265 {
  position:absolute;
  left:83px;
  top:376px;
  width:70px;
  height:29px;
}
#u7266 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u7267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7267 {
  position:absolute;
  left:83px;
  top:457px;
  width:70px;
  height:29px;
}
#u7268 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u7269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7269 {
  position:absolute;
  left:83px;
  top:539px;
  width:70px;
  height:29px;
}
#u7270 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u7271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:60px;
}
#u7271 {
  position:absolute;
  left:80px;
  top:681px;
  width:514px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7272 {
  position:absolute;
  left:2px;
  top:22px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7273 {
  position:absolute;
  left:282px;
  top:685px;
  width:21px;
  height:54px;
}
#u7274 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  word-wrap:break-word;
}
#u7275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7275 {
  position:absolute;
  left:173px;
  top:685px;
  width:21px;
  height:54px;
}
#u7276 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  word-wrap:break-word;
}
#u7277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7277 {
  position:absolute;
  left:83px;
  top:710px;
  width:70px;
  height:29px;
}
#u7278 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u7279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:71px;
}
#u7279 {
  position:absolute;
  left:80px;
  top:590px;
  width:839px;
  height:71px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7280 {
  position:absolute;
  left:2px;
  top:28px;
  width:835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7281 {
  position:absolute;
  left:282px;
  top:591px;
  width:21px;
  height:70px;
}
#u7282 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  word-wrap:break-word;
}
#u7283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7283 {
  position:absolute;
  left:834px;
  top:570px;
  width:77px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7284 {
  position:absolute;
  left:2px;
  top:3px;
  width:73px;
  word-wrap:break-word;
}
#u7285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7285 {
  position:absolute;
  left:173px;
  top:594px;
  width:21px;
  height:67px;
}
#u7286 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u7287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7287 {
  position:absolute;
  left:83px;
  top:632px;
  width:70px;
  height:29px;
}
#u7288 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u7289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:60px;
}
#u7289 {
  position:absolute;
  left:80px;
  top:852px;
  width:683px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7290 {
  position:absolute;
  left:2px;
  top:22px;
  width:679px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7291 {
  position:absolute;
  left:282px;
  top:856px;
  width:21px;
  height:54px;
}
#u7292 {
  position:absolute;
  left:2px;
  top:-5px;
  width:17px;
  word-wrap:break-word;
}
#u7293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7293 {
  position:absolute;
  left:514px;
  top:830px;
  width:80px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7294 {
  position:absolute;
  left:2px;
  top:3px;
  width:76px;
  word-wrap:break-word;
}
#u7295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7295 {
  position:absolute;
  left:173px;
  top:856px;
  width:21px;
  height:54px;
}
#u7296 {
  position:absolute;
  left:2px;
  top:-5px;
  width:17px;
  word-wrap:break-word;
}
#u7297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7297 {
  position:absolute;
  left:83px;
  top:881px;
  width:70px;
  height:29px;
}
#u7298 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u7299 {
  position:absolute;
  left:553px;
  top:102px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7299_seg0 {
  position:absolute;
  left:-31px;
  top:26px;
  width:62px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u7299_seg1 {
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u7300 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7301 {
  position:absolute;
  left:514px;
  top:91px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7301_seg0 {
  position:absolute;
  left:-56px;
  top:-4px;
  width:56px;
  height:8px;
}
#u7301_seg1 {
  position:absolute;
  left:-56px;
  top:-4px;
  width:8px;
  height:157px;
}
#u7301_seg2 {
  position:absolute;
  left:-62px;
  top:138px;
  width:20px;
  height:20px;
}
#u7302 {
  position:absolute;
  left:-102px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7303 {
  position:absolute;
  left:514px;
  top:91px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7303_seg0 {
  position:absolute;
  left:-118px;
  top:-4px;
  width:118px;
  height:8px;
}
#u7303_seg1 {
  position:absolute;
  left:-118px;
  top:-4px;
  width:8px;
  height:239px;
}
#u7303_seg2 {
  position:absolute;
  left:-124px;
  top:220px;
  width:20px;
  height:20px;
}
#u7304 {
  position:absolute;
  left:-164px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7305 {
  position:absolute;
  left:553px;
  top:184px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7305_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:226px;
}
#u7305_seg1 {
  position:absolute;
  left:-10px;
  top:207px;
  width:20px;
  height:20px;
}
#u7306 {
  position:absolute;
  left:-50px;
  top:103px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7307 {
  position:absolute;
  left:591px;
  top:173px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7307_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u7307_seg1 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:216px;
  height:8px;
}
#u7307_seg2 {
  position:absolute;
  left:204px;
  top:-3px;
  width:8px;
  height:322px;
}
#u7307_seg3 {
  position:absolute;
  left:204px;
  top:315px;
  width:8px;
  height:4px;
}
#u7307_seg4 {
  position:absolute;
  left:198px;
  top:300px;
  width:20px;
  height:20px;
}
#u7308 {
  position:absolute;
  left:158px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7309 {
  position:absolute;
  left:591px;
  top:173px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7309_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u7309_seg1 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:290px;
  height:8px;
}
#u7309_seg2 {
  position:absolute;
  left:278px;
  top:-3px;
  width:8px;
  height:400px;
}
#u7309_seg3 {
  position:absolute;
  left:272px;
  top:382px;
  width:20px;
  height:20px;
}
#u7310 {
  position:absolute;
  left:232px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7311 {
  position:absolute;
  left:507px;
  top:659px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7312 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
#u7313 {
  position:absolute;
  left:553px;
  top:428px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7313_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:235px;
}
#u7313_seg1 {
  position:absolute;
  left:-10px;
  top:216px;
  width:20px;
  height:20px;
}
#u7314 {
  position:absolute;
  left:-50px;
  top:108px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7315 {
  position:absolute;
  left:553px;
  top:681px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7315_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:143px;
}
#u7315_seg1 {
  position:absolute;
  left:-4px;
  top:135px;
  width:9px;
  height:8px;
}
#u7315_seg2 {
  position:absolute;
  left:-3px;
  top:135px;
  width:8px;
  height:14px;
}
#u7315_seg3 {
  position:absolute;
  left:-9px;
  top:134px;
  width:20px;
  height:20px;
}
#u7316 {
  position:absolute;
  left:-50px;
  top:67px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7317 {
  position:absolute;
  left:3px;
  top:613px;
  width:70px;
  height:29px;
}
#u7318 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u7319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7319 {
  position:absolute;
  left:3px;
  top:527px;
  width:70px;
  height:29px;
}
#u7320 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u7321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7321 {
  position:absolute;
  left:3px;
  top:445px;
  width:70px;
  height:29px;
}
#u7322 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u7323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7323 {
  position:absolute;
  left:3px;
  top:364px;
  width:70px;
  height:29px;
}
#u7324 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u7325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7325 {
  position:absolute;
  left:3px;
  top:282px;
  width:70px;
  height:29px;
}
#u7326 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u7327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7327 {
  position:absolute;
  left:3px;
  top:201px;
  width:70px;
  height:29px;
}
#u7328 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u7329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7329 {
  position:absolute;
  left:3px;
  top:118px;
  width:70px;
  height:29px;
}
#u7330 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u7331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7331 {
  position:absolute;
  left:3px;
  top:698px;
  width:70px;
  height:29px;
}
#u7332 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u7333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7333 {
  position:absolute;
  left:3px;
  top:869px;
  width:70px;
  height:29px;
}
#u7334 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u7335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7335 {
  position:absolute;
  left:245px;
  top:40px;
  width:95px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7336 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u7337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7337 {
  position:absolute;
  left:158px;
  top:40px;
  width:65px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7338 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u7339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7339 {
  position:absolute;
  left:3px;
  top:40px;
  width:155px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7340 {
  position:absolute;
  left:2px;
  top:6px;
  width:151px;
  word-wrap:break-word;
}
#u7341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:60px;
}
#u7341 {
  position:absolute;
  left:80px;
  top:763px;
  width:427px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7342 {
  position:absolute;
  left:2px;
  top:22px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7343 {
  position:absolute;
  left:282px;
  top:767px;
  width:21px;
  height:54px;
}
#u7344 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  word-wrap:break-word;
}
#u7345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7345 {
  position:absolute;
  left:173px;
  top:767px;
  width:21px;
  height:54px;
}
#u7346 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  word-wrap:break-word;
}
#u7347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7347 {
  position:absolute;
  left:83px;
  top:792px;
  width:70px;
  height:29px;
}
#u7348 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u7349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7349 {
  position:absolute;
  left:423px;
  top:729px;
  width:91px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7350 {
  position:absolute;
  left:2px;
  top:9px;
  width:87px;
  word-wrap:break-word;
}
#u7351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7351 {
  position:absolute;
  left:3px;
  top:780px;
  width:70px;
  height:29px;
}
#u7352 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u7353 {
  position:absolute;
  left:553px;
  top:681px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7353_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u7353_seg1 {
  position:absolute;
  left:-88px;
  top:25px;
  width:92px;
  height:8px;
}
#u7353_seg2 {
  position:absolute;
  left:-88px;
  top:25px;
  width:8px;
  height:23px;
}
#u7353_seg3 {
  position:absolute;
  left:-94px;
  top:33px;
  width:20px;
  height:20px;
}
#u7354 {
  position:absolute;
  left:-87px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
